# Encoding

In [1]:
import numpy as np 
import pandas as pd

In [3]:
df = pd.read_csv("C:\\Users\\pc\\Desktop\\rajat program\\covid_toy.csv")

In [4]:
df.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [5]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [6]:
df = df.dropna()

In [7]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [8]:
df.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [9]:
df=  df.drop(columns = ['age' , 'fever'])

In [10]:
df.head(2)

  gender cough     city has_covid
0   Male  Mild  Kolkata        No
1   Male  Mild    Delhi       Yes

# Encoding ===> Transform categorical data into Numerical data .

In [11]:
from sklearn.preprocessing import LabelEncoder

In [13]:
lb = LabelEncoder()

In [14]:
df['gender'] = lb.fit_transform(df['gender'])
df['cough'] = lb.fit_transform(df['cough'])
df['city'] = lb.fit_transform(df['city'])
df['has_covid'] = lb.fit_transform(df['has_covid'])

In [15]:
df.head(2)

   gender  cough  city  has_covid
0       1      0     2          0
1       1      0     1          1

# (2). OrdinalEncoder ===> We can decide for which sub-category we have to assign which value .

In [16]:
df = pd.read_csv("C:\\Users\\pc\\Desktop\\rajat program\\covid_toy.csv")

In [17]:
df.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [19]:
df.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [20]:
df = df.drop(columns = ['age' , 'fever'])

In [21]:
df = df.dropna()

In [23]:
df.head(2)

  gender cough     city has_covid
0   Male  Mild  Kolkata        No
1   Male  Mild    Delhi       Yes

In [24]:
from sklearn.preprocessing import OrdinalEncoder

In [25]:
oe = OrdinalEncoder(categories = [['Female','Male'],
                                  ['Mild','Strong'],
                                  ['Kolkata','Bangalore','Delhi','Mumbai'],
                                  ['No', 'Yes']])

In [26]:
df_oe = oe.fit_transform(df)

In [27]:
df_new = pd.DataFrame(df_oe , columns = df.columns)

In [28]:
df_new = df_new.astype(int)

In [29]:
df_new

    gender  cough  city  has_covid
0        1      0     0          0
1        1      0     2          1
2        1      0     2          0
3        0      0     0          0
4        0      0     3          0
..     ...    ...   ...        ...
95       0      0     1          0
96       0      1     0          1
97       0      0     1          0
98       0      1     3          0
99       0      1     0          1

[100 rows x 4 columns]

# (3). OneHot Encoding ===> 
# gender['M' , 'F'] ===> new column 'M' , 'F'

# data ===>avoid overfitting  , multioconiality ===> first sub_category drop

In [31]:
df = pd.read_csv("C:\\Users\\pc\\Desktop\\rajat program\\covid_toy.csv")

In [32]:
df.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [33]:
df = df.drop(columns = ['age' , 'fever'])

In [34]:
df=  df.dropna()

In [35]:
df.head(2)

  gender cough     city has_covid
0   Male  Mild  Kolkata        No
1   Male  Mild    Delhi       Yes

In [36]:
from sklearn.preprocessing import OneHotEncoder

In [40]:
ohe = OneHotEncoder(drop = 'first' ,  dtype = np.int32)

In [41]:
df_new = ohe.fit_transform(df[['gender' , 'cough' , 'city' , 'has_covid']])

In [42]:
df_new.shape

(100, 6)

In [43]:
df_new

<100x6 sparse matrix of type '<class 'numpy.int32'>'
	with 194 stored elements in Compressed Sparse Row format>

# (4). get_dummies

In [44]:
df = pd.read_csv("C:\\Users\\pc\\Desktop\\rajat program\\covid_toy.csv")

In [46]:
df = df.dropna()

In [48]:
df.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [49]:
pd.get_dummies(df , columns = ['gender' , 'cough' , 'city' , 'has_covid'] , drop_first = True)

,age,fever,gender_Male,cough_Strong,city_Delhi,city_Kolkata,city_Mumbai,has_covid_Yes
0,60,103.0,True,False,False,True,False,False
1,27,100.0,True,False,True,False,False,True
2,42,101.0,True,False,True,False,False,False
3,31,98.0,False,False,False,True,False,False
4,65,101.0,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...
95,12,104.0,False,False,False,False,False,False
96,51,101.0,False,True,False,True,False,True
97,20,101.0,False,False,False,False,False,False
98,5,98.0,False,True,False,False,True,False
99,10,98.0,False,True,False,True,False,True