In [1]:
# ML workflow ===>
# Data Gathering ==> Data Preprocessing (clean , encode , transform for normal distribution ) ==>
# Select Ml Model ===> Train the Model(X_train , y_train) ==> PRediction of Model (x_test) ==>
#Performance Evaluation(y_train , y_pred)

In [2]:
# Data ==> input(x) , target(y)
# Input(x) ==> X_train , x_test
# target(y) ==> y_train , y_test

In [3]:
# Standardization ==> mean = 0 , standard derivation = 1  ===> Data Normal distibuction


# Normal Distribution ==> Central Tendency(Mean , median , mode) = 0 , left and right side value gap is equal.


#profit ==>
# 1  Calcution Easy
# 2 less Memory Consume
# 3 Time Efficient

In [4]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv("C:\\Users\\pc\\Desktop\\rajat program\\placement.csv")

In [6]:
df

    cgpa  resume_score  placed
0   8.14          6.52       1
1   6.17          5.17       0
2   8.27          8.86       1
3   6.88          7.27       1
4   7.52          7.30       1
..   ...           ...     ...
95  6.33          6.38       0
96  8.23          7.76       1
97  6.65          7.78       0
98  8.14          5.63       1
99  6.09          6.61       0

[100 rows x 3 columns]

In [7]:
df.head(3)

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1

In [12]:
x = df.drop(columns = ['placed'] , axis = 1)  #Input Data 
y  = df['placed']  # Target Data

In [11]:
from sklearn.model_selection import train_test_split

In [13]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2 , random_state = 42)

In [20]:
print("total data shape" , df.shape)
print("X data shape" , x.shape)
print("X train data shape" , x_train.shape)
print("X data shape" , x_test.shape)


print("total data shape" , y.shape)
print("Y train data shape" , y_train.shape)
print("y test data shape" , y_test.shape)

total data shape (100, 3)
X data shape (100, 2)
X train data shape (80, 2)
X data shape (20, 2)
total data shape (100,)
Y train data shape (80,)
y test data shape (20,)

In [21]:
# df(100 , 3) = x(100,2) + y(100,1)
# x(100 ,2) = x_train(80 ,2) , + x_test(80 , 2)
# y(100 , 1) = y_train(80 ,1) + y_test(80 ,1)

In [22]:
np.round(x_train.describe() ,2)

        cgpa  resume_score
count  80.00         80.00
mean    6.95          7.00
std     1.13          1.01
min     5.27          4.95
25%     6.00          6.28
50%     6.62          7.15
75%     8.06          7.69
max     9.31          9.06

In [25]:
from sklearn.preprocessing import StandardScaler  # this is used to averge b/w the data is 0  and gap b/w the data is 1

In [26]:
sc = StandardScaler()

In [28]:
x_train_sc = sc.fit_transform(x_train)

In [29]:
x_train_new = pd.DataFrame(x_train_sc , columns = x_train.columns)

In [31]:
x_train_new

        cgpa  resume_score
0  -0.008602     -0.128926
1   1.001293     -0.925381
2  -0.607389     -0.527154
3  -0.044350     -0.089103
4   0.992356      2.051369
..       ...           ...
75 -0.964874     -0.357907
76  0.348883      1.215091
77  0.500814     -0.746179
78 -1.358107     -0.815868
79 -0.366087      0.388770

[80 rows x 2 columns]

In [32]:
np.round(x_train_new.describe() , 2)

        cgpa  resume_score
count  80.00         80.00
mean   -0.00         -0.00
std     1.01          1.01
min    -1.50         -2.04
25%    -0.85         -0.72
50%    -0.29          0.15
75%     0.99          0.69
max     2.11          2.05

In [33]:
# MinMaxScalar ===> Min =0 ,Max =1

In [34]:
np.round(x_train.describe() ,1)

       cgpa  resume_score
count  80.0          80.0
mean    6.9           7.0
std     1.1           1.0
min     5.3           5.0
25%     6.0           6.3
50%     6.6           7.2
75%     8.1           7.7
max     9.3           9.1

In [35]:
from sklearn.preprocessing import MinMaxScaler

In [36]:
mn = MinMaxScaler()

In [40]:
x_train_mn = mn.fit_transform(x_train)

In [41]:
x_train_new = pd.DataFrame(x_train_mn , columns = x_train.columns)

In [42]:
np.round(x_train_new.describe() , 2)

        cgpa  resume_score
count  80.00         80.00
mean    0.42          0.50
std     0.28          0.25
min     0.00          0.00
25%     0.18          0.32
50%     0.33          0.54
75%     0.69          0.67
max     1.00          1.00

In [43]:
df = pd.read_csv("C:\\Users\\pc\\Desktop\\rajat program\\covid_toy.csv")

In [44]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [45]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [46]:
df = df.drop(columns = ['city'])

In [47]:
df.head(3)

   age gender  fever cough has_covid
0   60   Male  103.0  Mild        No
1   27   Male  100.0  Mild       Yes
2   42   Male  101.0  Mild        No

In [48]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
has_covid     0
dtype: int64

In [49]:
from sklearn.impute import SimpleImputer

In [50]:
si = SimpleImputer(strategy = "mean")

In [51]:
df['fever'] = si.fit_transform(df[['fever']])

In [52]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
has_covid    0
dtype: int64

In [53]:
df['gender'] = df['gender'].map({"Male":0 , "Female":1})

In [54]:
df['cough'] = df['cough'].map({"Mild":0 , "Strong":1})
df['has_covid'] = df['has_covid'].map({"Yes":0 , "No":1})

In [55]:
x = df.drop(columns = ['has_covid'])
y = df['has_covid']

In [56]:
from sklearn.model_selection import train_test_split

In [57]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2 , random_state = 42)

In [58]:
from sklearn.preprocessing import StandardScaler

In [59]:
sc= StandardScaler()

In [60]:
x_train_sc = sc.fit_transform(x_train)

In [61]:
x_train_new = pd.DataFrame(x_train_sc , columns = x_train.columns)

In [62]:
np.round(x_train_new.describe() , 2)

         age  gender  fever  cough
count  80.00   80.00  80.00  80.00
mean   -0.00   -0.00  -0.00  -0.00
std     1.01    1.01   1.01   1.01
min    -1.56   -1.19  -1.56  -0.82
25%    -0.94   -1.19  -0.51  -0.82
50%    -0.04    0.84   0.01  -0.82
75%     0.91    0.84   0.53   1.22
max     1.69    0.84   1.57   1.22

In [63]:
from sklearn.preprocessing import MinMaxScaler

In [64]:
mn = MinMaxScaler()

In [65]:
x_train_mn = mn.fit_transform(x_train)

In [66]:
x_train_new = pd.DataFrame(x_train_mn , columns =x_train.columns)

In [67]:
np.round(x_train_new.describe() , 2)

         age  gender  fever  cough
count  80.00   80.00  80.00  80.00
mean    0.48    0.59   0.50   0.40
std     0.31    0.50   0.32   0.49
min     0.00    0.00   0.00   0.00
25%     0.19    0.00   0.33   0.00
50%     0.47    1.00   0.50   0.00
75%     0.76    1.00   0.67   1.00
max     1.00    1.00   1.00   1.00